:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ce3d28;
  --color-gray: #c0c0c0;
  --color-button: #7a8793;
  --color-dialog-bg: rgba(0, 0, 0, 0.5);
  --color-box: rgba(0, 0, 0, 0.2);
}
